services:
  fuji1:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji1
    ports:
      - "54001:1071"
    restart: unless-stopped

  fuji2:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji2
    ports:
      - "54002:1071"
    restart: unless-stopped

  fuji3:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji3
    ports:
      - "54003:1071"
    restart: unless-stopped

  fuji4:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji4
    ports:
      - "54004:1071"
    restart: unless-stopped

  fuji5:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji5
    ports:
      - "54005:1071"
    restart: unless-stopped

  fuji6:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji6
    ports:
      - "54006:1071"
    restart: unless-stopped

  fuji7:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji7
    ports:
      - "54007:1071"
    restart: unless-stopped

  fuji8:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji8
    ports:
      - "54008:1071"
    restart: unless-stopped

  fuji9:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji9
    ports:
      - "54009:1071"
    restart: unless-stopped

  fuji10:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji10
    ports:
      - "54010:1071"
    restart: unless-stopped

  fuji11:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji11
    ports:
      - "54011:1071"
    restart: unless-stopped

  fuji12:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji12
    ports:
      - "54012:1071"
    restart: unless-stopped

  fuji13:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji13
    ports:
      - "54013:1071"
    restart: unless-stopped

  fuji14:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji14
    ports:
      - "54014:1071"
    restart: unless-stopped

  fuji15:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji15
    ports:
      - "54015:1071"
    restart: unless-stopped

  fuji16:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji16
    ports:
      - "54016:1071"
    restart: unless-stopped

  fuji17:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji17
    ports:
      - "54017:1071"
    restart: unless-stopped

  fuji18:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji18
    ports:
      - "54018:1071"
    restart: unless-stopped

  fuji19:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji19
    ports:
      - "54019:1071"
    restart: unless-stopped

  fuji20:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji20
    ports:
      - "54020:1071"
    restart: unless-stopped

  fuji21:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji21
    ports:
      - "54021:1071"
    restart: unless-stopped

  fuji22:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji22
    ports:
      - "54022:1071"
    restart: unless-stopped

  fuji23:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji23
    ports:
      - "54023:1071"
    restart: unless-stopped

  fuji24:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji24
    ports:
      - "54024:1071"
    restart: unless-stopped

  fuji25:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji25
    ports:
      - "54025:1071"
    restart: unless-stopped

  fuji26:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji26
    ports:
      - "54026:1071"
    restart: unless-stopped

  fuji27:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji27
    ports:
      - "54027:1071"
    restart: unless-stopped

  fuji28:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji28
    ports:
      - "54028:1071"
    restart: unless-stopped

  fuji29:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji29
    ports:
      - "54029:1071"
    restart: unless-stopped

  fuji30:
    image: ghcr.io/data-S-index/fuji:latest
    container_name: fuji30
    ports:
      - "54030:1071"
    restart: unless-stopped

  fill-database-fuji:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fill-database-fuji
    command: python fill-database-fuji.py
    environment:
      - FUJI_HOST=docker
      - INSTANCE_COUNT=30
    depends_on:
      - fuji1
      - fuji2
      - fuji3
      - fuji4
      - fuji5
      - fuji6
      - fuji7
      - fuji8
      - fuji9
      - fuji10
      - fuji11
      - fuji12
      - fuji13
      - fuji14
      - fuji15
      - fuji16
      - fuji17
      - fuji18
      - fuji19
      - fuji20
      - fuji21
      - fuji22
      - fuji23
      - fuji24
      - fuji25
      - fuji26
      - fuji27
      - fuji28
      - fuji29
      - fuji30
    restart: unless-stopped
    stdin_open: true
    tty: true
